body {
    font-family: "Andale Mono", "DejaVu Sans Mono", monospace;
    margin: 0;
    padding: 0;
}

nav {
    background-color: lightblue;
    padding: 12 20;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: "Monaco", "Courier New", monospace;
}

nav a:hover {
    text-decoration: underline;
}


main {
    padding: 20px;
}
